h1 {
    text-align: center;
    color: white;
    font-family: fantasy;
    background: darkred;
    
    
}

body{
   
    font-family: fantasy;
    background-color:white
}
h1 {
    text-align: center;
    color: white;
    font-family: fantasy;
    background: darkred;
    
    
}

p{
    font-family: fantasy;
    text-align: center;
    font-size: 20px;
 color: darkred;

}
p1{
    font-family: fantasy;
    text-align: left;
    font-size: 20px;
    margin: 20px;
   color: darkred;
}
* {box-sizing: border-box}
body {font-family: Verdana, fantasy; margin:0}
.mySlides, .mySlides1, .mySlides2 {display: none; border: solid; border-color: darkslateblue;}
.mySlides:hover, .mySlides1:hover, .mySlides2:hover
{ border-color: darkred;}
img {vertical-align: middle;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}
!.all{
    display: flex;
}
   
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -75px;
    margin-left: 200px;
    margin-right: 200px;
    color: midnightblue;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}





.prev1, .next1{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -65px;
    margin-left: 200px;
    margin-right: 200px;
    color: midnightblue;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev2, .next2{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -75px;
    margin-left: 200px;
    margin-right: 200px;
    color: midnightblue;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    color: darkred;
}
.next1{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev1:hover, .next1:hover{
   color: darkred;
}
.next2{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev2:hover, .next1:hover{
   color: darkred;
}





























